<nav-bar></nav-bar>
<!--Section: FAQ-->
<section class="container">
    <div class="d-flex justify-content-center">
        <img src="../../assets/svg/FAQ.svg" class="img-fluid" style="height: 300px;" alt="" srcset="">
    </div>
    <h3 class="text-center my-3 pb-2 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions regarding infoxodia below
    </p>
  
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="mb-3 text-primary"><i class="bi bi-emoji-smile-upside-down text-primary fs-5"></i> What is infoXodia?</h5>
        <p>
          <b>infoXodia</b> is a dedicated platform showcasing the rich cultural heritage, tradition, art, and linguistic beauty of Odisha. Our mission is to bring of Odisha's unique traditions, art forms, and history through engaging content and interactive quizzes.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="mb-3 text-primary"><i class="bi bi-journal-richtext text-primary fs-5"></i> What kind of content can I find on infoXodia?</h5>
        <p>
          On <u><b>infoXodia</b></u>, you can explore various aspects of Odisha and Lord Jagannath, including its history, festivals, arts and crafts, literature, dance forms, and general knowledge. We provide detailed articles, beautiful images, and engaging quizzes to enhance your learning experience.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="mb-3 text-primary"><i class="bi bi-collection text-primary fs-5"></i> What are the products available in infoXodia?
        </h5>
        <p>
          Currently, we are publishing content to one product of infoXodia i.e ixoQuiz. And we are working on other products like ixoMoviesinfo, ixoImages and more.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="mb-3 text-primary"><i class="bi bi-graph-up-arrow text-primary fs-5"></i> What makes infoXodia different from other websites about Odisha?
        </h5>
        <p>
          infoXodia stands out for its comprehensive coverage of Odisha's culture, tradition art, and language. We focus on providing high-quality, engaging content and interactive gk, quizzes that make learning about Odisha fun and informative. Our mission is to create a global community that appreciates and celebrates the rich heritage of Odisha.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="mb-3 text-primary"><i class="bi bi-pencil-square text-primary fs-5"></i> Can I contribute content to infoXodia?
        </h5>
        <p>Absolutely! We welcome contributions from writers, artists, and enthusiasts, odia people who share passion for Odisha's culture. If you're interested in contributing, please contact us through our "Contact Us" page for more details.</p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h5 class="mb-3 text-primary"><i class="bi bi-phone text-primary fs-5"></i> Is there a mobile app for infoXodia?</h5>
        <p>
          Currently, infoXodia is accessible through our website i.e infoxodia.com, which is mobile-friendly. We are working on developing a mobile app to enhance your experience and provide you with convenient access to all our content and quizzes. Stay tuned for updates!
        </p>
      </div>
    </div>
  </section>
  <!--Section: FAQ-->

  <footer-bar></footer-bar>